.form {
    display: grid;
}

.footerForm {
    padding: 100px 0px;
    &-wrapper {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-gap: 50px;
        .form {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            .input-wrapper {
                &:nth-child(3),
                &:nth-child(4) {
                    grid-column-start: span 2;
                }

            }
            button {
                margin-top: 10px;
                grid-column-start: span 2;
            }
        }
    }
}

.booking {
    .form {
        grid-template-columns: 15% 20% 20% 1fr 15%;
        grid-gap: 20px;
    }
}