$lightgray: #adadad;
$popupbg: rgba($color: #000, $alpha: 0.5);
$brandblue: #253c56;
$brandlight: #4f7c97;
$brandgold: #eee5d2;
$second: #525252;
$text: #3a3a3a;
$lightbg: #f2f2f2;

.container {
    max-width: 1200px;
    margin: 0px auto;
}

body {
   @include font-regular();
   line-height: 1.4;
   color: $text;
}


h1.page-title {
  @include font-bold();
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  position: relative;
  z-index: 3;
  line-height: 1;
}

.titles {
  h2.title {
    color: $brandblue;
    @include font-bold();
    font-size: 60px;
    line-height: 1;
    margin-bottom: 50px;
  }
  .subtitle {
    color: $lightgray;
    font-size: 18px;
    margin-bottom: 4px;
    text-transform: uppercase;
  }
}

input {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 44px;
    border: 1px solid $brandblue;
    padding: 0px 20px;
    font-size: 1em;
    transition: all .3s ease-in-out;
    &::placeholder {
        color: $lightgray;
        @include font-regular();
    }
}

.input {
  &-wrapper {
    position: relative;
  }
  &-error {
    border: 1px solid red;
    background: rgba($color: red, $alpha: 0.1);
    position: relative;
    &__req,
    &__message {
      position: relative; 
      transition: all .3s ease-in-out;
        &::before {
          content: '';
          width: 24px;
          height: 24px;
          background: url(../icons/alert.svg) no-repeat center;
          background-size: cover;
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translate(0, -50%);
          z-index: 5;
          filter: brightness(0) saturate(100%) invert(13%) sepia(85%) saturate(7415%) hue-rotate(3deg) brightness(100%) contrast(114%);
        }
      }
      &__message {
        &::after {
          content: attr(data-formerror);
          font-size: 12px;
          color: red;
          position: absolute;
          bottom: -25px;
          left: 20px;
          right: 0px;
        }
      }
    }
}

button[type=submit] {
    @include font-bold();
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    height: 44px;
    border: none;
    background: $brandblue;
    color: #fff;
}

input#email {
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    background: transparent;
    z-index: -100000;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
}
  
.fadeOut {
    animation: 0.5s fadeOut forwards;
}

.button-text {
  border: none;
  background: transparent;
  text-transform: uppercase;
  line-height: 1;
  padding: 0;
  padding-right: 30px;
  position: relative;
  &::after {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../icons/textButtonArrow.svg) no-repeat center;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.progress {
  &-wrapper {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    z-index: 100;
    transition: all .4s linear;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%);
    &__hidden {
      opacity: 0;
    }
    svg {
      stroke: rgba(0, 0, 0, 0.2);
      stroke-width: 2;
      transition: all 400ms linear;
    }
    svg {
      path {
        stroke: $brandblue;
      }
    }
    svg {
      fill: none;
    }
  }
}

.page-content {
  padding: 100px 0px;
}